<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Yellotasker</title>
</head>

<body>
<table id="m_6462014940457833709bodyTable" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="background:#f5f9fb;border-collapse:collapse;height:100%!important;margin:0;padding:0;width:100%!important" bgcolor="#f5f9fb">
        <tbody>
          <tr>
            <td id="m_6462014940457833709bodyCell" align="center" valign="top" style="height:100%!important;margin:0;padding:40px 0;width:100%!important">
              
              
              <table bgcolor="#ffffff" id="m_6462014940457833709emailBody" border="0" cellpadding="0" cellspacing="0" width="552" style="background:#ffffff;border-collapse:separate;border-radius:8px;border:1px solid #cad7dc">
                <tbody><tr>
                  <td>
                    <table class="m_6462014940457833709tb_properties m_6462014940457833709border_style" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
                      <tbody><tr><td><table border="0" cellpadding="0" cellspacing="0" class="m_6462014940457833709flexibleContainer m_6462014940457833709logo-table-cell" style="border-bottom-color:#cad7dc;border-bottom-style:solid;border-bottom-width:1px;border-collapse:collapse" width="552">
 
  <tbody><tr>
   <td align="center" class="m_6462014940457833709flexibleContainerCell" style="padding-left:32px;padding-right:32px;padding-top:20px; background:#000;" valign="top" width="552">
    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse" width="100%">
     
      <tbody><tr>
       <td class="m_6462014940457833709textContent m_6462014940457833709text-center" style="color:#2a2c2d;font-family:MuseoSans-300,'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;font-size:16px;line-height:125%;padding-bottom:20px;text-align:center" valign="top" align="center">
        <img height="auto" src="logo.png" style="border:0;outline:none;text-decoration:none" width="" class="CToWUd">
</td>
</tr>
</tbody></table>

</td>
</tr>
</tbody></table>
<table border="0" cellpadding="0" cellspacing="0" class="m_6462014940457833709flexibleContainer" style="border-collapse:collapse" width="552">
 
  <tbody><tr>
   <td align="center" class="m_6462014940457833709flexibleContainerCell" style="padding-left:32px;padding-right:32px;padding-top:20px" valign="top" width="552">
    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse" width="100%">
     
      <tbody><tr>
       <td class="m_6462014940457833709textContent" style="color:#2a2c2d;font-family:MuseoSans-300,'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;font-size:16px;line-height:125%;padding-bottom:20px;text-align:Left" valign="top" align="Left">
        <p style="color:#2a2c2d;font-family:MuseoSans-300,'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;font-size:16px;font-weight:300;line-height:125%;margin:24px 0;padding:0;text-align:Left" align="Left">
         <strong style="font-family:MuseoSans-500,'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;font-weight:500">Hi Vaibhav,</strong></p>
<p style="color:#2a2c2d;font-family:MuseoSans-300,'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;font-size:16px;font-weight:300;line-height:125%;margin:24px 0;padding:0;text-align:Left" align="Left">
         People are interested in your task <a href="#">Paint my door</a> and asking you questions about it. Reply to them to see if they're the right person for the task!</p>
<div class="m_6462014940457833709mobile-hide">
         <a href="#" style="background:#efeb10; color:#000; padding:10px 25px; float:right; text-decoration:none; border-radius:40px;">Reply</a>
</div>
</td>
</tr>
</tbody></table>

</td>
</tr>
</tbody></table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse" width="100%">
 
  <tbody><tr>
   <td align="center" valign="top">
    <table border="0" cellpadding="0" cellspacing="0" class="m_6462014940457833709flexibleContainer" style="border-collapse:collapse" width="552">
     
      <tbody><tr>
       <td align="center" class="m_6462014940457833709flexibleContainerCell" style="padding-left:32px;padding-right:32px;padding-top:20px" valign="top" width="552">
        <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse" width="100%">
         
          <tbody><tr>
           <td class="m_6462014940457833709textContent" style="color:#2a2c2d;font-family:MuseoSans-300,'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;font-size:16px;line-height:125%;padding-bottom:20px;text-align:Left" valign="top" align="Left">
            <table border="0" cellpadding="0" cellspacing="0" class="m_6462014940457833709offer-task-block" style="border-collapse:collapse;margin:16px 0" width="100%">
             
              <tbody><tr>
               <td class="m_6462014940457833709mobile-block m_6462014940457833709mobile-text-center" width="64px">
                <img height="48" src="icon-y.png" style="border:0;outline:none;text-decoration:none" width="48" class="CToWUd">
</td>
<td class="m_6462014940457833709mobile-70-block">
                <p class="m_6462014940457833709margin-4-0" style="color:#2a2c2d;font-family:MuseoSans-300,'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;font-size:16px;font-weight:300;line-height:14px;margin:4px 0;padding:0;text-align:Left" align="Left">
                 <a href="#" style="color:#000; text-decoration:none">Yellotasker support C.</a></p>
<p class="m_6462014940457833709margin-4-0" style="color:#2a2c2d;font-family:MuseoSans-300,'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;font-size:16px;font-weight:300;line-height:14px;margin:4px 0;padding:0;text-align:Left" align="Left">
                 <img class="m_6462014940457833709inline-block CToWUd" height="" src="rating.png" width="100" style="border:0;outline:none;text-decoration:none"></p>

</td>
<td class="m_6462014940457833709mobile-30-block">
                <p class="m_6462014940457833709price m_6462014940457833709text-center m_6462014940457833709mobile-text-right" style="color:#2a2c2d;font-family:MuseoSans-500,'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;font-size:28px;font-weight:500;letter-spacing:-.29px;line-height:28px;margin:24px 0;padding:0;text-align:center;vertical-align:middle" align="center">
                 $ </p>
</td>
</tr>
<tr>
               <td class="m_6462014940457833709mobile-block m_6462014940457833709description m_6462014940457833709mobile-16-font" colspan="2">
                <p style="color:#2a2c2d;font-family:MuseoSans-300,'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;font-size:14px;font-weight:300;line-height:20px;margin:16px 0;padding:0;text-align:Left" align="Left">
                 "Lorem ipsum dolor sit amet is the dummy text for describing the website content"</p>
</td>
<td class="m_6462014940457833709cta m_6462014940457833709mobile-block" style="padding-top:16px;vertical-align:top" width="107" valign="top">
                <div class="m_6462014940457833709text-center m_6462014940457833709full-button" style="text-align:center" align="center">
                 <a href="#" style="background:#efeb10; color:#000; padding:10px 30px; float:right; text-decoration:none; border-radius:40px;">Offer</a>
</div>
</td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>

</td>
</tr>
</tbody></table>

</td>
</tr>
</tbody></table>

<table border="0" cellpadding="0" cellspacing="0" class="m_6462014940457833709footer" style="border-collapse:collapse;border-top-color:#cad7dc; background:#000; border-top-style:solid;border-top-width:1px" width="100%">
 
  <tbody><tr>
   <td align="center" valign="top">
    <table border="0" cellpadding="0" cellspacing="0" class="m_6462014940457833709flexibleContainer" style="border-collapse:collapse" width="552">
     
      <tbody><tr>
       <td class="m_6462014940457833709flexibleContainerCell" style="padding-left:32px;padding-right:32px;padding-top:20px" valign="top" width="552">
        <table align="Left" border="0" cellpadding="0" cellspacing="0" class="m_6462014940457833709flexibleContainer" style="border-collapse:collapse" width="236">
         
          <tbody><tr>
           <td class="m_6462014940457833709textContent m_6462014940457833709mobile-text-center" style="color:#2a2c2d;font-family:MuseoSans-300,'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;font-size:16px;line-height:125%;padding-bottom:20px;text-align:Left" valign="top" align="Left">
            <p class="m_6462014940457833709mobile-text-center m_6462014940457833709no-margin" style="color:#2a2c2d;font-family:MuseoSans-300,'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;font-size:16px;font-weight:300;line-height:125%;margin:0;padding:0;text-align:Left" align="Left">
                        <a class="m_6462014940457833709unsubscribe" rel="nofollow" href="#" style="color:#fff; text-decoration:none;"> Unsubscribe </a></p>
                        </td>
                        </tr>
                        </tbody></table>
                        <table align="Right" border="0" cellpadding="0" cellspacing="0" class="m_6462014940457833709flexibleContainer" style="border-collapse:collapse" width="236">
                                 
                                  <tbody><tr>
                                   <td class="m_6462014940457833709textContentLast" style="color:#2a2c2d;font-family:MuseoSans-300,'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;font-size:16px;line-height:125%;padding-bottom:20px;text-align:Left" valign="top" align="Left">
                                    <p style="margin-top:0px; text-align:right;">
                        				<img src="apple-store.png" width="100px;"> <img src="google-play.png" width="100px;"> 
                        			</p>
                        </td>
                        </tr>
                        </tbody></table>

                        </td>
                        </tr>
                        </tbody></table>

                        </td>
                        </tr>
                        </tbody></table>
                    </td></tr></tbody></table>
                  </td>
                </tr>
              </tbody></table>
            </td>
          </tr>
        </tbody>
      </table>
</body>
</html>
